<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/Research+Recruiting.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">

                </div>
                <div class="name">
                    <h4 class="title">Testimonials<br/></h4>
                    <!--<h6 class="description">Bol & Boosch</h6>-->
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6>Angelo van Cleef</h6>
                            <small>Developer Bol & Boosch</small>
                            <p>
                                Ik heb Cas ervaren als een slimme, collegiale en energieke collega! Een harde werker die
                                op zijn tijd een grapje maakt.
                                Geavanceerde systemen ontwikkelen en uitleg geven over ingewikkelde zaken is voor hem
                                geen probleem, hij brengt het goed over op een leuke manier.
                                Ik kijk uit naar zijn terugkeer!

                            </p>
                            <hr>
                            <h6>Vijay Duran Jimenez</h6>
                            <small>Algemeen directeur Bol & Boosch</small>
                            <p>
                                Ik heb Cas ervaren als een betrokken en leergierige stagiair. Hij is zo iemand die
                                binnen een organisatie mensen kan motiveren en ervoor kan zorgen dat mensen meer uit
                                zichzelf weten te halen. Ook heeft hij de skills om in korte tijd geniaal veel te leren
                                en dit ook weet om te zetten naar praktische oplossingen. Zo heeft hij bij ons de server
                                ingericht, een CI opgezet en nog veel meer. Ik zou Cas van harte aanbevelen als
                                freelancer, maar als developer is en blijft hij een Bol & Booscher.
                            </p>
                            <hr>
                            <h6>Matthijs Vliegenthart</h6>
                            <small>Stagebegeleider Bol & Boosch</small>
                            <p>
                                Cas is een zeer enthousiaste programmeur en is in staat om nieuwe technieken zich zeer
                                snel eigen te maken. Hij zorgt voor een goede sfeer, maar moet wel zorgen dat hij
                                gefocused blijft en goed projectmatig te werk blijft gaan. Al met al een uitstekende
                                stage.
                            </p>
                            <a routerLink="beoordeling">
                                <button type="button" class="btn btn-outline-danger btn-sm readmore">Beoordeling</button>
                            </a>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/home" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar
                begin</a>
        </div>
    </div>
</div>