<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Wat heb ik gedaan?</h1>
                </div>
                <h2 class="presentation-subtitle text-center">Tijd voor de competenties</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <a id='backButton' routerLink="/home">
            <button class="btn btn-danger" type="button">Terug</button>
        </a></div>
    <div id="summary" class="container text-center">
        <h2>Competentie overzicht</h2>
        <p>
            Wat werd er tijdens mijn stage precies van me verwacht?
        </p>
        <hr>
        <br>
        <p>
            Tijdens mijn stage heb ik niet alleen heel veel plezier en lol gehad. Het is een plek waar ik mij heb
            kunnen ontplooien en meer heb kunnen leren dan ik ooit heb durven dromen. Maar, er zijn ook verwachtingen en
            leerdoelen vanuit school.
        </p>
        <p>
            Op deze pagina kan je de competenties zien die ik moest bewijzen en zie je het bewijs
            wat ik hiervoor verzameld heb.
        </p>
        <br>
        <br>
        <p>
            Ik licht vast van een tipje van de sluier op van wat ik geleerd heb: je kijkt er nu naar ;)
        </p>
        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title">
                    <h3>Voorproefje</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="../assets/img/Angular2.png" alt="Random second slide">
                                    <div class="carousel-caption">
                                        <p>Angular Framework</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../assets/img/jenkins-pipeline.png" alt="Random first slide">
                                    <div class="carousel-caption">
                                        <p style="color: #000;">Continuous Integration</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../assets/img/bbsdesk.png" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p style="background-color: rgba(255,255,255,0.8); color: #000;">Eigen producten
                                            bouwen</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>Wil je de code van deze website zien? Klik dan op het Github logo in de bovenste balk.</p>
        <!--<div class="row">-->
        <!---->
        <!--</div>-->
    </div>
    <div id="overview" class="section section-dark text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="javascript:void(0)" routerLink="/ontwikkelen"><img
                                    src="../assets/img/Skill_development_images.png" alt="..."
                                    style="filter: invert(100%);"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Ontwikkelen</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/ontwikkelen">
                                <button class="btn btn-outline-default btn-round" type="button">Ontwikkelen</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="javascript:void(0)" routerLink="/onderzoeken"><img
                                    src="../assets/img/Research+Recruiting.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Onderzoeken en Analyseren</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/onderzoeken">
                                <button class="btn btn-outline-default btn-round" type="button">Onderzoeken</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/pencil.png" alt="..."
                                                   style="filter: invert(100%);"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Ontwerpen</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/ontwerpen">
                                <button class="btn btn-outline-default btn-round" type="button">Ontwerpen</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="javascript:void(0)" routerLink="/ondernemen"><img
                                    src="../assets/img/entrepreneur.png" alt="..."
                                    style="filter: invert(100%);"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Ondernemen</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/ondernemen">
                                <button class="btn btn-outline-default btn-round" type="button">Ondernemen</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="javascript:void(0)" routerLink="/betrokken"><img src="../assets/img/caring.png"
                                                                                      alt="..."
                                                                                      style="filter: invert(100%);"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Betrokken</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/betrokken">
                                <button class="btn btn-outline-default btn-round" type="button">Betrokken</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>