<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/Research+Recruiting.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">

                </div>
                <div class="name">
                    <h4 class="title">Ten slotte<br/></h4>
                    <h6 class="description">Conclusie</h6>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6>Terugkomdagen</h6>
                            <small>Back 2 School</small>
                            <p>
                                De terugkomdagen waren voor mij een reality check waar ik mij besefte dat ik nog op
                                school zat. De dagen op stage begonnen steeds meer op echt werk te lijken. Dit is aan de
                                ene kant fijn, aan de andere kant begon dit ook een beetje een sleur te worden.
                            </p>
                            <a routerLink="terugkomdagen">
                                <button type="button" class="btn btn-outline-danger btn-sm readmore">Terugkomdagen
                                </button>
                            </a>
                            <hr>
                            <h6>Bezoek andere stagiaires</h6>
                            <small>Er even tussenuit</small>
                            <p>
                                Voorafgaand het bezoek aan de bedrijven waar klasgenoten stage liepen had ik het beeld dat het
                                bij hen ongeveer hetzelfde zou lopen als bij Bol & Boosch. Jeroen en ik werden heel los gelaten,
                                konden eigen beslissingen maken en onze stemmen werden meegenomen in het eindproduct. Dit klopte
                                bij een van de twee bedrijven waar ik langs ging, bij de andere was dit voor mij een grote
                                shock.
                            </p>
                            <a routerLink="bezoek-stagiaires">
                                <button type="button" class="btn btn-outline-danger btn-sm readmore">Bezoek stagiaires
                                </button>
                            </a>
                            <hr>
                            <h6>Visie Afstuderen</h6>
                            <small>Waar ik me op wil focussen</small>
                            <p>
                                Plaats samenvatting
                            </p>
                            <a routerLink="visie-afstuderen">
                                <button type="button" class="btn btn-outline-danger btn-sm readmore">Visie afstuderen
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/home" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar
                begin</a>
        </div>
    </div>
</div>