<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/caring.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">

                </div>
                <div class="name">
                    <h4 class="title">Betrokken<br/></h4>
                    <!--<h6 class="description">Bol & Boosch</h6>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>
                        De CMGT'er is op de hoogte van actuele maatschappelijke ontwikkelingen en vraagstukken, en is in
                        staat om producten te ontwikkelen die daar op inspelen. De CMGT'er reflecteert op de impact van
                        zijn/haar keuzes op de maatschappij en neemt deze overwegingen mee in een ontwikkelproces.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6>Traject opzetten geautomatiseerd deployment</h6>
                            <p class="description">
                                Tijdens mijn stage bij Bol & Boosch was een van mijn opdrachten het opzetten van een
                                geautomatiseerd deployment systeem voor de BBSdesk. Dit heb ik stap voor stap aangepakt.
                                Het begon met uitzoeken wat het bedrijf nu echt wilde en ging hiervoor in gesprek met de
                                stakeholders van dit project.
                            </p>
                            <a routerLink="traject-ci">
                                <button type="button" class="btn btn-outline-danger btn-sm readmore">Lees meer</button>
                            </a>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/home" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar begin</a>
        </div>
    </div>
</div>