<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/Skill_development_images.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">

                </div>
                <div class="name">
                    <h4 class="title">Ontwikkelen<br/></h4>
                    <!--<h6 class="description">Bol & Boosch</h6>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>
                        De CMGT'er is in staat om een interactieve oplossing technisch uit te werken, zodanig dat de
                        oplossing later uit te breiden is, goed te onderhouden is en efficiënt werkt, rekening houdend
                        met de verwachtingen van de verschillende stakeholders betrokken bij het uitwerken van de
                        oplossing.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6>Automatiseren workflow</h6>
                            <p class="description">
                                Tijdens mijn stage was ik werkzaam als DevOps engineer bij Bol & Boosch, het probleem
                                was dat medewerkers van 8 of meer ondernemingen gebruik gaan maken van het te
                                ontwikkelen platform, genaamd: “BBSDesk (Bol & Boosch Service Desk)”.
                            </p>
                            <button type="button" class="btn btn-outline-danger btn-sm readmore">Lees meer</button>
                            <hr>
                            <h6>Projectstructuur</h6>
                            <p class="description">
                                Het nieuw te starten project “BBSdesk” gaat een software platform worden waarin
                                verschillende apps terecht gaan komen. Denk aan: Kennisbank, Nieuws, callcentre crm,
                                rooster etc.
                                Al deze modules moeten onafhankelijk van elkaar kunnen opereren.

                            </p>
                            <button type="button" class="btn btn-outline-danger btn-sm readmore">Lees meer</button>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/home" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar begin</a>
        </div>
    </div>
</div>