<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/async.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive top-img">

                </div>
                <div class="name">
                    <h4 class="title">Asynchroon Programmeren<br/></h4>
                    <h6 class="description">Situatie</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>
                        Naar mijn mening liep code altijd van links naar rechts, van boven naar beneden. Een computer
                        leest code als een boek. Tijdens het programmeren van de front-end van BBSdesk liep ik hier
                        tegenaan.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6 class="description">Taak</h6>
                            <p class="description">
                                Uitzoeken waarom er allerlei errors op de console van het project terecht kwamen, waarom
                                stukken code niet werkte en hoe dit kan. Deze errors verschenen omdat ik een api call
                                deed naar de back-end van het project en deze vervolgens op de front-end wilde laten
                                zien.
                            </p>
                            <br>
                            <h6 class="description">Activiteiten</h6>
                            <p class="description">
                                Mede door hulp van mijn stagebegeleider en een collega ben ik mij in gaan lezen in
                                callbacks en promises. Ook ben ik op youtube gaan zoeken naar mensen die het me uit
                                konden leggen op een begrijpbare manier. Een aantal kanalen hebben mij flink geholpen,
                                namelijk:
                            </p>
                            <br>
                            <ul>
                                <li>https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q</li>
                                <li>https://www.youtube.com/user/shiffman</li>
                            </ul>
                            <br>
                            <p class="description">
                                Blijkbaar kan je code op elkaar laten wachten, door bijvoorbeeld te “beloven” dat er een
                                resultaat aan komt waar je later iets mee kan doen. Dit stukje code heb ik vervolgens
                                geschreven.
                            </p>
                            <br>
                            <img class="evidence-images" src="../assets/img/asynchroon1.png"
                                 alt="jenkins pipeline">
                            <br>
                            <br>
                            <h6 class="description">Resultaat</h6>
                            <p class="description">
                                Hierdoor kreeg ik een heel ander idee over hoe je code kan lezen en ben ik tot de
                                ontdekking gekomen dat je code op elkaar kan laten wachten tot er een resultaat is wat
                                er verwacht wordt. Deze resultaten kan je afvangen, of als hier een fout in is op
                                reageren. Het heeft er toe geleid dat ik code makkelijker kan lezen en beter in kan
                                stappen in toekomstige projecten.
                            </p>
                            <br>
                            <h6 class="description">Reflectie</h6>
                            <p class="description">
                                Dit punt was best moeilijk voor mij om door te krijgen, achteraf gezien zou ik sneller
                                naar goede uitleg gezocht hebben in plaats van zelf aan de slag gaan zonder enig idee
                                van hoe het werkt. Ik ben wel van mening dat ik nu beter snap hoe het niet werkt en
                                vooral daarom de achterliggende gedachte goed snap.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/ontwikkelen" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar
                Competenties</a>
        </div>
    </div>
</div>