<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/async.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive top-img">

                </div>
                <div class="name">
                    <h4 class="title">Asynchroon Programmeren<br/></h4>
                    <h6 class="description">Situatie</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>
                        Naar mijn mening liep code altijd van links naar rechts, van boven naar beneden. Een computer
                        leest code als een boek. Tijdens het programmeren van de front-end van BBSdesk liep ik hier
                        tegenaan.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6 class="description">Taak</h6>
                            <p class="description">
                                Uitzoeken waarom er allerlei errors op de console van het project terecht kwamen, waarom
                                stukken code niet werkte en hoe dit kan. Deze errors verschenen omdat ik een api call
                                deed naar de back-end van het project en deze vervolgens op de front-end wilde laten
                                zien.
                            </p>
                            <br>
                            <h6 class="description">Activiteiten</h6>
                            <p class="description">
                                Mede door hulp van mijn stagebegeleider en een collega ben ik mij in gaan lezen in
                                callbacks en promises. Ook ben ik op youtube gaan zoeken naar mensen die het me uit
                                konden leggen op een begrijpbare manier. Een aantal kanalen hebben mij flink geholpen,
                                namelijk:
                            </p>
                            <br>
                            <ul>
                                <li>https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q</li>
                                <li>https://www.youtube.com/user/shiffman</li>
                            </ul>
                            <br>
                            <p class="description">
                                Vervolgens heb ik de modules opgedeeld in services en componenten, dit met als doeleinde
                                om de code overzichtelijk en duidelijk te houden. De componenten bevatten stuk voor stuk
                                een html (element opbouw), scss(styling) en typescript (logica) bestand.Een voorbeeld
                                van een component is faqComponent, het doel van dit component is om de detailweergave
                                van een veelgestelde vraag te laten zien aan de eindgebruiker.
                            </p>
                            <br>
                            <img class="evidence-images" src="../assets/img/projectstructuur2.png"
                                 alt="jenkins pipeline">
                            <br>
                            <br>
                            <img class="evidence-images" src="../assets/img/projectstructuur3.png"
                                 alt="jenkins pipeline">
                            <small>Zo ziet het component er visueel uit.</small>
                            <br>
                            <br>
                            <h6 class="description">Resultaat</h6>
                            <p class="description">
                                Deze structuur heeft er voor gezorgd dat we als team meer duidelijkheid hebben over het
                                te bouwen project. Ook zorgt het voor de modulaire opbouw waar Bol & Boosch naar zocht,
                                zodat de flexibiliteit van het product gewaarborgd kan worden.
                            </p>
                            <br>
                            <br>
                            <h6 class="description">Reflectie</h6>
                            <p class="description">
                                De eerdere iteraties waren minder modulair opgebouwd en wat rommeliger. Dit is de
                                feedback die ik heb ontvangen van de stakeholders binnen het project. Om een voorbeeld
                                te geven van eerdere iteraties:
                            </p>
                            <img class="evidence-images" src="../assets/img/projectstructuur4.png"
                                 alt="Linux Bash script">
                            <small>(de eerste variant)</small>
                            <br>
                            <br>
                            <p class="description">
                                Achteraf gezien zou ik eerder begonnen zijn met het bepalen van de wensen van de mensen
                                die dit in gebruik gaan nemen. Al met al kan ik zeggen dat het doel van deze taak, een
                                flexibele en duidelijk te begrijpen projectstructuur op te zetten, is behaald en hiermee
                                een probleem, alle modules moeten onafhankelijk van elkaar kunnen opereren, getackeld
                                is.
                            </p>
                            <p class="description">
                                Het is een structuur geworden die tot de dag van vandaag nog steeds gebruikt wordt
                                met weinig tot geen klachten.
                            </p>
                            <br>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/ontwikkelen" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar
                Competenties</a>
        </div>
    </div>
</div>