<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Koffie & Frustratie</h1>
            <h3>Stage bij Bol & Boosch</h3>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Het bedrijf</h2>
                    <h5 class="description">Stage bij Bol & Boosch is voor mij meer dan iets wat ik voor school doe.
                        Het is een plek waar ik maar al te graag kom, elke dag weer spannend en de mensen waar ik mee
                        werk vrienden voor het leven zijn geworden.
                        <br/>
                        <br/>
                        Het is een jong, dynamisch en levendig bedrijf waar veel gebeurt en geen enkele dag hetzelfde
                        is.
                    </h5>
                    <br>
                    <a routerLink="/bedrijf" class="btn btn-danger btn-round">Meer over Bol & Boosch</a>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Competenties</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="javascript:void(0)" routerLink="/ontwikkelen"><img src="../assets/img/Skill_development_images.png" alt="..."
                                                   style="filter: invert(100%);"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Ontwikkelen</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/ontwikkelen">
                                <button class="btn btn-outline-default btn-round" type="button">Ontwikkelen</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="javascript:void(0)" routerLink="/onderzoeken"><img src="../assets/img/Research+Recruiting.png" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Onderzoeken en Analyseren</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/onderzoeken">
                                <button class="btn btn-outline-default btn-round" type="button">Onderzoeken</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="../assets/img/pencil.png" alt="..."
                                                   style="filter: invert(100%);"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Ontwerpen</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/ontwerpen">
                                <button class="btn btn-outline-default btn-round" type="button">Ontwerpen</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="javascript:void(0)" routerLink="/ondernemen"><img src="../assets/img/entrepreneur.png" alt="..."
                                                   style="filter: invert(100%);"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Ondernemen</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/ondernemen">
                                <button class="btn btn-outline-default btn-round" type="button">Ondernemen</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="javascript:void(0)" routerLink="/betrokken"><img src="../assets/img/caring.png" alt="..."
                                                   style="filter: invert(100%);"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Betrokken</h4>
                                </div>
                            </a>
                        </div>
                        <div class="card-footer text-center">
                            <a routerLink="/betrokken">
                                <button class="btn btn-outline-default btn-round" type="button">Betrokken</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a routerLink="/competenties">
                <button id="alleCompetenties" class="btn btn-danger" type="button">Alle competenties</button>
            </a>
        </div>
    </div>
</div>
