<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/Research+Recruiting.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">

                </div>
                <div class="name">
                    <h4 class="title">Onderzoeken<br/></h4>
                    <!--<h6 class="description">Bol & Boosch</h6>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>
                        De CMGT'er heeft zijn blik gericht naar buiten en is op de hoogte van de nieuwste technologische
                        ontwikkelingen. Hij/zij kan bronnen- en veldonderzoek uitvoeren en de onderzoeksresultaten
                        gebruiken in de ontwikkeling van nieuwe concepten en producten.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6>Onderzoek Continuous Integration</h6>
                            <p class="description">
                                Dit onderzoek schrijf ik om de processen binnen ons tech bedrijf te kunnen
                                optimaliseren. Momenteel worden er nog (te) veel fouten gemaakt met het live zetten of
                                updaten van projecten. Deze workflow is momenteel volledig afhankelijk van menselijke
                                handelingen en deze brengen ook menselijke fouten met zich mee.
                            </p>
                            <!--Linken naar onderzoek CI -->
                            <button type="button" class="btn btn-outline-danger btn-sm readmore">Lees meer</button>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/home" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar begin</a>
        </div>
    </div>
</div>