<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/B&B_Icon_Square_RedD.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">

                </div>
                <div class="name">
                    <h4 class="title">Het bedrijf<br/></h4>
                    <h6 class="description">Bol & Boosch</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>
                        Stage bij Bol & Boosch is voor mij meer dan iets wat ik voor school doe.
                        Het is een jong, dynamisch en levendig bedrijf waar veel gebeurd en geen enkele dag hetzelfde
                        is.
                    </p>
                    <br/>
                    <p>Het is een plek waar ik maar al te graag komt, elke dag weer spannend en de mensen waar ik mee
                        werk vrienden voor het leven zijn geworden.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <p class="description">
                                Bol & Boosch is een jonge start-up en een dochteronderneming van Zorgeloosch.
                                Zorgeloosch is een
                                snelgroeiende assurantietussenpersoon, voornamelijk voor hypotheken. Sinds kort biedt
                                Zorgeloosch een combinatie aan van scheidingsbemiddeling en hypotheekadvies. Bij
                                Zorgeloosch
                                streven ze naar een zorgenvrij leven voor iedereen. Hiervoor worden de drie pijlers
                                gebruik die
                                het leven in balans houden: Wonen, Werk en Wederhelft. Als één van de drie pijlers
                                wegvalt, dan
                                zorgt dat voor stress. Als er twee omvallen, dan staat de wereld op z’n kop.
                            </p>
                            <br/>
                            <p class="description">
                                Bol & Boosch heeft verschillende afdelingen namelijk een Callcenter, Development en
                                Rentemiddelingsdesk. In het Callcenter worden alle kennismakingsgesprekken ingepland
                                voor
                                Zorgeloosch met de bemiddelaars en adviseurs. De afdeling is opgesplitst in twee
                                onderdelen.
                                Callmedewerkers die scheidingsbemiddelingsafspraken inplannen en Callmedewerkers die
                                afspraken
                                inplannen met hypotheekadviseurs. Het inplannen van scheidingsbemiddelingsafspraken
                                wordt over
                                het algemeen als ingewikkeld ervaren. Zowel emotioneel als kennis gericht. Als de klant
                                in het
                                bezit is van een koopwoning of een woning wil gaan aankopen na de scheiding. Dan kan een
                                financieel adviseur mee met de afspraak om te kijken of een ontslag hoofdelijk
                                aansprakelijkheid
                                mogelijk is op de hypotheek of hoeveel ze maximaal kunnen lenen voor de aankoop van een
                                nieuwe
                                woning. De hypotheekafspraken worden alleen met een hypotheekadviseur ingepland.
                            </p>
                            <br/>
                            <p class="description">
                                Het kennismakingsgesprek bij Zorgeloosch is geheel vrijblijvend en gratis. In het
                                kennismakingsgesprek geeft de adviseur en/of bemiddelaar gelijk aan wat ze voor hen
                                kunnen
                                betekenen en hoeveel het vervolgtraject kost. Na de eerste afspraak zullen de adviseurs
                                en
                                bemiddelaars de klanten zelf in beheer houden. Momenteel zijn er 25 Call Medewerkers bij
                                Bol &
                                Boosch in dienst. Development telt 6 man, inclusief stagiairs.
                            </p>
                        </li>
                        <img src="../assets/img/kerstborrel.JPG" alt="Bol & Boosch Dev Team"
                             class="img-no-padding img-responsive devteam">
                        <hr/>
                        <li>
                            <h2 class="title">Bol & Boosch Development</h2>
                            <p class="description">
                                De afdeling waar ik werk is Development. De development afdeling is de ondersteunende
                                factor
                                voor het callcenter van Bol & Boosch. Er wordt gewerkt aan automatisering van
                                binnenkomende
                                leads, worden de websites van Zorgeloosch middels een SLA (service level agreement)
                                onderhouden
                                en wordt er aan eigen producten gewerkt. Tijdens mijn stage houd ik mij bezig met het
                                ontwikkelen van een eigen product, de Bol & Boosch Software Desk, in het kort “BBSDesk”.
                            </p>
                            <br/>
                            <p class="description">
                                Het project is begonnen sinds ik met mijn stage begon, hierdoor kon ik meedenken over de
                                functionaliteiten en het uitrollen van deze service. Qua development hield ik mij bezig
                                met de
                                voorkant, ook wel front-end genoemd, en het inrichten van de webserver met Continuous
                                Integration/ Continious Deployment in het achterhoofd. Op het moment van schrijven is de
                                BBSDesk
                                in de pilotfase uitgekomen. We zijn tot dit punt gekomen na een serie van iteraties
                                waarin we
                                met de scrum-methodiek te werk zijn gegaan. Mijn aandeel hierin was van belang omdat ik
                                inspraak
                                had naar waar het project naar toe ging.
                            </p>
                            <br/>
                            <p class="description">
                                Momenteel wordt de pilot aangeboden aan 10 bedrijven:
                            </p>
                            <ul>
                                <li>LivechatService</li>
                                <li>Slim Media</li>
                                <li>Mobilaris B.V.</li>
                                <li>ING</li>
                                <li>Zorgeloosch</li>
                                <li>2Divorce</li>
                                <li>Tritel</li>
                                <li>Vinod.nu</li>
                                <li>Bol & Boosch Call Center</li>
                                <li>Erasmus Centre for Entrepreneurship</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/home" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar begin</a>
        </div>
    </div>
</div>

<!--<div class="main">-->
<!--<div class="section section-dark text-center">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-8 mr-auto ml-auto">-->
<!--<img src="../../assets/img/Logos_Bol&Boosch_Logo_Full_RedWhite.svg">-->
<!--<h5 class="description">Stage bij Bol & Boosch is voor mij meer dan iets wat ik voor school doe.-->
<!--Het is een jong, dynamisch en levendig bedrijf waar veel gebeurd en geen enkele dag hetzelfde-->
<!--is.-->
<!--<br/>-->
<!--<br/>-->
<!--Het is een plek waar ik maar al te graag komt, elke dag weer spannend en de mensen waar ik mee-->
<!--werk vrienden voor het leven zijn geworden.-->
<!--</h5>-->
<!--<br/>-->
<!--<br/>-->
<!--<h6>-->
<!--Beschrijving Bol & Boosch-->
<!--</h6>-->
<!--<p class="description">-->
<!--Bol & Boosch is een jonge start-up en een dochteronderneming van Zorgeloosch. Zorgeloosch is een-->
<!--snelgroeiende assurantietussenpersoon, voornamelijk voor hypotheken. Sinds kort biedt-->
<!--Zorgeloosch een combinatie aan van scheidingsbemiddeling en hypotheekadvies. Bij Zorgeloosch-->
<!--streven ze naar een zorgenvrij leven voor iedereen. Hiervoor worden de drie pijlers gebruik die-->
<!--het leven in balans houden: Wonen, Werk en Wederhelft. Als één van de drie pijlers wegvalt, dan-->
<!--zorgt dat voor stress. Als er twee omvallen, dan staat de wereld op z’n kop.-->
<!--</p>-->
<!--<br/>-->
<!--<p class="description">-->
<!--Bol & Boosch heeft verschillende afdelingen namelijk een Callcenter, Development en-->
<!--Rentemiddelingsdesk. In het Callcenter worden alle kennismakingsgesprekken ingepland voor-->
<!--Zorgeloosch met de bemiddelaars en adviseurs. De afdeling is opgesplitst in twee onderdelen.-->
<!--Callmedewerkers die scheidingsbemiddelingsafspraken inplannen en Callmedewerkers die afspraken-->
<!--inplannen met hypotheekadviseurs. Het inplannen van scheidingsbemiddelingsafspraken wordt over-->
<!--het algemeen als ingewikkeld ervaren. Zowel emotioneel als kennis gericht. Als de klant in het-->
<!--bezit is van een koopwoning of een woning wil gaan aankopen na de scheiding. Dan kan een-->
<!--financieel adviseur mee met de afspraak om te kijken of een ontslag hoofdelijk aansprakelijkheid-->
<!--mogelijk is op de hypotheek of hoeveel ze maximaal kunnen lenen voor de aankoop van een nieuwe-->
<!--woning. De hypotheekafspraken worden alleen met een hypotheekadviseur ingepland.-->
<!--</p>-->
<!--<br/>-->
<!--<p class="description">-->
<!--Het kennismakingsgesprek bij Zorgeloosch is geheel vrijblijvend en gratis. In het-->
<!--kennismakingsgesprek geeft de adviseur en/of bemiddelaar gelijk aan wat ze voor hen kunnen-->
<!--betekenen en hoeveel het vervolgtraject kost. Na de eerste afspraak zullen de adviseurs en-->
<!--bemiddelaars de klanten zelf in beheer houden. Momenteel zijn er 25 Call Medewerkers bij Bol &-->
<!--Boosch in dienst. Development telt 6 man, inclusief stagiairs.-->
<!--</p>-->
<!--<br/>-->
<!--<h2 class="title">Bol & Boosch Development</h2>-->
<!--<p class="description">-->
<!--De afdeling waar ik werk is Development. De development afdeling is de ondersteunende factor-->
<!--voor het callcenter van Bol & Boosch. Er wordt gewerkt aan automatisering van binnenkomende-->
<!--leads, worden de websites van Zorgeloosch middels een SLA (service level agreement) onderhouden-->
<!--en wordt er aan eigen producten gewerkt. Tijdens mijn stage houd ik mij bezig met het-->
<!--ontwikkelen van een eigen product, de Bol & Boosch Service Desk, in het kort “BBSDesk”.-->
<!--</p>-->
<!--<br/>-->
<!--<p class="description">-->
<!--Het project is begonnen sinds ik met mijn stage begon, hierdoor kon ik meedenken over de-->
<!--functionaliteiten en het uitrollen van deze service. Qua development hield ik mij bezig met de-->
<!--voorkant, ook wel front-end genoemd, en het inrichten van de webserver met Continuous-->
<!--Integration/ Continious Deployment in het achterhoofd. Op het moment van schrijven is de BBSDesk-->
<!--in de pilotfase uitgekomen. We zijn tot dit punt gekomen na een serie van iteraties waarin we-->
<!--met de scrum-methodiek te werk zijn gegaan. Mijn aandeel hierin was van belang omdat ik inspraak-->
<!--had naar waar het project naar toe ging.-->
<!--</p>-->
<!--<br/>-->
<!--<p class="description">-->
<!--Momenteel wordt de pilot aangeboden aan 10 bedrijven:-->
<!--</p>-->
<!--<ul>-->
<!--<li>LivechatService</li>-->
<!--<li>Slim Media</li>-->
<!--<li>Mobilaris B.V.</li>-->
<!--<li>ING</li>-->
<!--<li>Zorgeloosch</li>-->
<!--<li>2Divorce</li>-->
<!--<li>Tritel</li>-->
<!--<li>Vinod.nu</li>-->
<!--<li>Bol & Boosch Call Center</li>-->
<!--<li>Erasmus Centre for Entrepreneurship</li>-->
<!--</ul>-->
<!--<a routerLink="/home" class="btn btn-danger btn-round">Terug naar begin</a>-->
<!--</div>-->
<!--</div>-->
<!--<br/><br/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
