h2, h6 {
  //color: #FFFFFF !important;
  h5, p .description {
    //color: rgba(255, 255, 255, 0.7) !important;
  }
}

img {
  width: 300px;
  display: inline-block;
  margin: 40px 0;
  border: 1px solid #66615B;
}

.btn, .btn-danger, .btn-round{
  margin-top: 25px;
}

.devteam {
  margin: 25px 23%;
}
