<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/visit.png" alt="Visit"
                         class="img-circle img-no-padding img-responsive top-img">

                </div>
                <div class="name">
                    <h4 class="title">Bezoek andere stagiaires<br/></h4>
                    <h6 class="description">Er even tussenuit</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p class="description">
                        Voorafgaand het bezoek aan de bedrijven waar klasgenoten stage liepen had ik het beeld dat het
                        bij hen ongeveer hetzelfde zou lopen als bij Bol & Boosch. Jeroen en ik werden heel los gelaten,
                        konden eigen beslissingen maken en onze stemmen werden meegenomen in het eindproduct. Dit klopte
                        bij een van de twee bedrijven waar ik langs ging, bij de andere was dit voor mij een grote
                        shock.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6 class="description">De bedrijven</h6>
                            <p>
                                De bedrijven waar ik op bezoek geweest ben zijn Routigo en DPDK, respectievelijk liepen
                                daar Bryan de Ronde en Stefan Pater stage.
                            </p>
                            <br>
                            <h6 class="description">Routigo</h6>
                            <p>
                                Routigo is een klein bedrijf, net als Bol & Boosch. Zij maken oplossingen voor
                                pakketdiensten door de routes te optimaliseren. Dit doen zij door middel van algoritmes
                                die zij in een app inbouwen. hiermee kunnen koeriers sneller en efficiënter te werk gaan
                                en scheelt het aanzienlijk in de kosten van de bedrijven die de dienst afnemen van
                                Routigo.
                            </p>
                            <br>
                            <p>
                                Naar mijn inziens werd Bryan hier aardig losgelaten en kon eigen beslissingen maken voor
                                de oplossingen en creaties die van hem verwacht werden. Qua werkwijze en sfeer leek het
                                heel erg op het bedrijf waar ik zelf stage liep.
                            </p>
                            <br>
                            <h6 class="description">DPDK</h6>
                            <p>
                                DPDK is een bedrijf welke ik al kende van school. Een van onze programmeer docenten is
                                hier werkzaam als technical lead, Antwan van der Mooren. Het grappige is dat Antwan mij
                                een aantal maanden voor de stageperiode gevraagd had om bij DPDK stage te lopen. Dit was
                                voor mij in de eerste instantie een enorme eer, aangezien niet veel studenten hier voor
                                gevraagd worden. Vol trots kan ik melden: Wat ben ik BLIJ dat ik dit niet aangenomen
                                heb.
                            </p>
                            <br>
                            <p>
                                DPDK is een echt webbureau. Ze maken websites voor klanten, hele mooie websites. Echter
                                is het altijd in opdracht van. Zodra er iets besloten is wordt het gebouwd in een aantal
                                weken/maanden en vervolgens is het door naar het nieuwe project.
                            </p>
                            <br>
                            <p>
                                Toen ik aan Stefan vroeg waarom hij bepaalde keuzes in zijn code gemaakt had kreeg ik
                                het antwoord: “Omdat dit zo moest van Antwan.” Toen ik dit hoorde kreeg ik kippenvel bij
                                het leven. Dit is totaal niet wat ik wil horen van een opdrachtgever en wil mijn eigen
                                creativiteit en ideeën in een project kunnen stoppen, hoe groot of klein het project ook
                                mag zijn.
                            </p>
                            <br>
                            <p>
                                Ook heb ik gemerkt dat ik liever aan een groot product wil werken dan aan websites voor
                                klanten bouwen, hoe mooi deze ook mogen wezen.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/conclusie" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar
                Conclusie</a>
            <!-- The Modal -->
            <div id="myModal" class="modal" style="z-index: 1">

                <!-- The Close Button -->
                <span (click)="closeModal()" class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
        </div>
    </div>
</div>