<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/pencil.png" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">

                </div>
                <div class="name">
                    <h4 class="title">Ontwerpen<br/></h4>
                    <!--<h6 class="description">Bol & Boosch</h6>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>
                        De CMGT'er ontwerpt voor vraagstukken op basis van een doelgroeponderzoek, in samenhang met een
                        analyse en binnen de gestelde doelen van de klant. Hij/zij is in staat eigen creatieve vermogens
                        in te zetten om te komen tot oplossingen.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6>Automatiseren workflow</h6>
                            <p class="description">
                                Tijdens mijn stage was ik werkzaam als DevOps engineer bij Bol & Boosch, het probleem
                                was dat medewerkers van 8 of meer ondernemingen gebruik gaan maken van het te
                                ontwikkelen platform, genaamd: “BBSDesk (Bol & Boosch Service Desk)”.
                            </p>
                            <!--linken naar starr automatiseren workflow-->
                            <a routerLink="automatiseren-workflow">
                                <button type="button" class="btn btn-outline-danger btn-sm readmore">Lees meer</button>
                            </a>
                            <hr>
                            <h6>Iteraties BBSdesk</h6>
                            <p class="description">
                             nog invullen
                            </p>
                            <!--linken naar starr automatiseren workflow-->
                            <a routerLink="iteraties-bbsdesk">
                                <button type="button" class="btn btn-outline-danger btn-sm readmore">Lees meer</button>
                            </a>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/home" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar begin</a>
        </div>
    </div>
</div>