<div class="wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="page-header page-header-xs" data-parallax="true"
       style="background-image: url('../assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="../assets/img/back2school.jpeg" alt="Back2School"
               class="img-circle img-no-padding img-responsive top-img">

        </div>
        <div class="name">
          <h4 class="title">Terugkomdagen<br/></h4>
          <h6 class="description">Back 2 School</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p class="description">
            De terugkomdagen waren voor mij een reality check waar ik mij besefte dat ik nog op school zat.
            De dagen op stage begonnen steeds meer op echt werk te lijken. Dit is aan de ene kant fijn, aan
            de andere kant begon dit ook een beetje een sleur te worden.
          </p>
        </div>
      </div>
      <br/>
      <hr/>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <ul class="list-unstyled">
            <li>
              <h6 class="description">Terug naar school</h6>
              <p>
                Het was fijn om te horen hoe het bij klasgenoten ging op stage, waar ze tegenaan liepen,
                maar ook fijn voor mijzelf om te bevestigen dat ik het goed deed op stage. Het ging
                allemaal vanzelf en zonder al te veel moeite. Ook vond ik het fijn om mijn
                stagebegeleider, Jan van der Horst, weer te spreken. Hij bevestigde mijn gevoel dat ik
                op de juiste rit zat en ik ervaarde dit als prettig.
              </p>
              <br>
              <p>
                Zoals ik al eerder beschreef: Stage bij Bol & Boosch is voor mij meer dan iets wat ik
                voor school doe. Het is een plek waar ik maar al te graag kom, elke dag weer spannend en
                de mensen waar ik mee werk vrienden voor het leven zijn geworden.
              </p>
              <br>
              <p>
                Tijdens de terugkomdagen ontmoette ik ook weer al mijn kameraden van school, waarna
                achteraf uiteraard een drankje genuttigd werd. Tijdens dit moment werd er heel veel over
                stage verteld. Het was goed om te zien dat deze mensen elke keer weer groeiden in hun
                skills en professionaliteit.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <a routerLink="/conclusie" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar
        Conclusie</a>
      <!-- The Modal -->
      <div id="myModal" class="modal" style="z-index: 1">

        <!-- The Close Button -->
        <span (click)="closeModal()" class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
    </div>
  </div>
</div>