<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="page-header page-header-xs" data-parallax="true"
         style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/graduation.png" alt="Graduation"
                         class="img-circle img-no-padding img-responsive top-img">

                </div>
                <div class="name">
                    <h4 class="title">Visie afstuderen<br/></h4>
                    <h6 class="description">De volgende stap(pen)</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p class="description">
                        Tijdens stage ben ik er achter gekomen dat ik het heel tof vind om in teams te werken die voor
                        elkaar door het vuur gaan. Ook ben ik overtuigd van mijn technische kennis en de wil om te
                        leren.
                    </p>
                </div>
            </div>
            <br/>
            <hr/>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <ul class="list-unstyled">
                        <li>
                            <h6 class="description">Wat ik niet wil doen</h6>
                            <p>
                                Een conclusie die ik heb getrokken is dat ik in de toekomst niet aan websites en kleine
                                projectjes wil werken. Ik werk liever aan een groot project en het gaat mij niet om het
                                programmeren, maar om met het team een mooi product neer te zetten. Misschien is een rol
                                als product owner meer voor mij weggelegd in de toekomst, de tijd zal het leren.
                            </p>
                            <br>
                            <h6 class="description">Interesses</h6>
                            <p>
                                De volgende stap is afstuderen. Met de kennis en ervaring die ik tijdens stage opgedaan
                                heb weet ik niet wat mijn exacte opdracht voor afstuderen gaat zijn, maar ik weet wel
                                dat ik met mijn onderzoek en prototype iets wil gaan maken wat een groter belang heeft
                                in plaats van iets kleins wat snel vergeten gaat worden. Door alle “crypto magnaten” die
                                bij Bol & Boosch op kantoor zitten heb ik wel interesse in een nieuwe techniek
                                ontwikkeld: Blockchain.
                            </p>
                            <br>
                            <p>
                                Tijdens het volgende schoolproject, PLE, ga ik mij dan ook storten op deze techniek. Als
                                minor heb ik gekozen voor Security Lab. Ik vind beveiliging en privacy bijzonder
                                interessant en wil hier heel graag meer over te weten komen en mij op dit front
                                ontwikkelen.
                            </p>
                            <br>
                            <h6 class="description">En dan?</h6>
                            <p>
                                Wellicht kan ik door deze twee keuzes tot een besluit komen voor mijn afstuderen, ik
                                weet in ieder geval wel dat ik iets unieks en indrukwekkends neer wil zetten.
                            </p>
                            <br>
                            <p>
                                Ook wil ik mij meer gaan storten in het managen van de ontwikkeling van producten, niet
                                perse het programmeren.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <a routerLink="/conclusie" class="btn btn-danger btn-round" style="margin: 25px 44%;">Terug naar
                Conclusie</a>
            <!-- The Modal -->
            <div id="myModal" class="modal" style="z-index: 1">

                <!-- The Close Button -->
                <span (click)="closeModal()" class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
        </div>
    </div>
</div>